<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TableStorageTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>    
    <add key="AccountName" value="devstoreaccount1"/>
    <add key="AccountSharedKey" value="Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw=="/>
    <add key="BlobStorageEndpoint" value="http://127.0.0.1:10000"/>
    <add key="QueueStorageEndpoint" value="http://127.0.0.1:10001"/>
    <add key="TableStorageEndpoint" value="http://127.0.0.1:10002"/>
    <add key="GoogleMapsApiKey" value="ABQIAAAAJP9dusfocb3BLfD2acw_dRS3WrZNsj5gvKInAwMXGJkhstvWsBSex3wYyG43vADtcZG25Eds-8Sm7g" />
    <add key="greeting" value="hola senor"/>
  </appSettings>
  <userSettings>
    <TableStorageTest.Properties.Settings>
      <setting name="GoogleMapsApiKey" serializeAs="String">
        <value>ABQIAAAAJP9dusfocb3BLfD2acw_dRS3WrZNsj5gvKInAwMXGJkhstvWsBSex3wYyG43vADtcZG25Eds-8Sm7g</value>
      </setting>
      <setting name="BlobStorageEndpoint" serializeAs="String">
        <value>http://127.0.0.1:10000</value>
      </setting>
      <setting name="QueueStorageEndpoint" serializeAs="String">
        <value>http://127.0.0.1:10001</value>
      </setting>
      <setting name="TableStorageEndpoint" serializeAs="String">
        <value>http://127.0.0.1:10002</value>
      </setting>
      <setting name="AccountName" serializeAs="String">
        <value>devstoreaccount1</value>
      </setting>
      <setting name="AccountSharedKey" serializeAs="String">
        <value>Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==</value>
      </setting>
    </TableStorageTest.Properties.Settings>
  </userSettings>
</configuration>